li {
  list-style: none;
  margin: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#validation-input {
  border: 3px solid #bdbdbd;
}
#validation-input.valid {
  border-color: #4caf50;
}
#validation-input.invalid {
  border-color: #f44336;
}
